
	<div class="container">
		<the-panel title="Cadastro de pessoas" >
			<form class="form-horizontal" role="form" ng-submit="merge()"  ng-model-options="{ getterSetter: true }">
				<div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-10">
						<input type="text" required placeholder="nome" ng-model="person.name" class="form-control" focus-on="input-name"/>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label ">Email</label>
					<div class="col-sm-10">
							<input type="email" required  placeholder="e-mail" ng-model="person.email" class="form-control" ng-disabled="person.id">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12 text-right">
						<input  type="submit" class="btn btn-primary" value="Save">
					</div>
				</div>
			</form>
		</the-panel>
	</div>
	
	 <div ng-include="'partials/people-list.tpl.html'"></div>
	
	<div class="col-sm-12 text-right">
		<button ng-href="shuffle()"  type="button" class="btn btn-primary ">Sortear Nomes</button>
		<a ng-href="#/shuffle">
            Acessar lista do sorteio
        </a>
	</div>
